.circle-progress{
    display: inline-block;
    .circle-progress-body {
        position: relative;
        .circle-progress-outer{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border-style: solid;
            box-sizing: border-box;
        }
        .circle-progress-inner {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .circle-progress-inner-path {
                fill: none;
                stroke-linecap:round;
                transform: rotate(-90deg);
                transform-origin: center center;
            }
        }
        .circle-progress-info{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }
}







